* {
    font-family: Roboto;
}

.header-hero{
    background-color: #1f2937;
    color:white;
    padding:0px 64px 45px;
    justify-content: center;
    border: solid 5px red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 0.1px lightsteelblue;
    
}


p,h1 {
    margin:0;
    padding:0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
}

.hero {
    display: flex;
    margin-top: 75px;
    border: solid 0.1px lightsteelblue;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.top-button {
    background-color: #3882F6;
    width: 100px;
    height: 25px;
    border-radius: 7px;
    color: white
}

.img-placeholder {

    box-sizing: border-box;
    width: 600px;
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}