* {
    font-family: Roboto;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-hero{
    background-color: #1f2937;
    color:white;
    padding:0px 64px 45px;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
p,h1 {
    margin:0;
    padding:0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
}

.hero {
    display: flex;
    margin-top: 75px;
    box-sizing: border-box;
    height: 175px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:1;
}

.top-button {
    background-color: #3882F6;
    width: 100px;
    height: 25px;
    border-radius: 7px;
    color: white;
        border-style: solid;
}

.img-placeholder {

    box-sizing: border-box;
    flex:1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;

}

.items {
    display:flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 65px;
    gap: 8px;
    
}
.item-title{
    text-align:center;
}
.item-container {
    display:flex;
    gap: 15px;

    padding-right:40px;
    padding-left:40px;
    justify-content: center;
}

.sub-item {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    gap:8px;

}

.item-square {
    height: 100px;
    width: 110px;
    border: solid #3882F6;
    border-radius: 10px;
    
}

.item-desc{
    font-size: 12px;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 0px 450px;
}

.quote-text {
    font-weight: 300;
    color:#1F2937;
    font-size:36px;
    
}

.quote-author {
    text-align:end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px;
}
.action-container {
    height:100px;
    width: 1050px;
    border-radius: 5px;
    background-color: #3882F6;
    box-sizing: border-box;
    border: solid 0.5px;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

.action-text {
    color: white;
}

.bottom-button {
    box-sizing: border-box;
    height: 35px;
    width: 75px;
    border-color: white;
    border-style: solid;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
}

.footer{
    background-color: #1f2937;
    color:white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}